/* Estilos para ejercicio4.xml */
modulo {
    font-family: Arial, sans-serif;
    color: #FF0000;
}

nombre {
    color:#0000FF;
    font-weight: bold;
}
alumno {
    border: 1px solid #e9c46a;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4a261;
	color: #80080
}
